@import url(base.css);

.detail {
    margin-top: 50px;
    margin-bottom: 50px;
    transition: .3s;
}

.detail__container {
    /* min-height: 100vh; */
    display: flex;
    justify-content: center;
    align-items: center;
}

.detail__box {
    background-color: var(--color-10);
    border-radius: 10px;
    box-shadow: 0 5px 20px rgba(0, 0, 0, .3);
    padding: 45px;
    margin: 15px 0;
    width: 950px;
    display: grid;
    /* grid-template-columns: repeat(2, 1fr); */
    grid-template-rows: auto 1fr;
    grid-template-areas:
        "img info"
        "img description";
    grid-gap: 35px;
}

.detail__box .detail__img {
    grid-area: img;
    display: flex;
    align-items: center;
    justify-content: center;
}

.detail__box .detail__img .detail__img-holder img {
    width: 100%;
    display: block;
    border-radius: 10px;
}

.detail__box .detail__info {
    grid-area: info;
    display: flex;
    flex-direction: column;
    gap: 15px;
    color: var(--color-1);
}

.detail__box .detail__info span {
    font-weight: 800;
    font-size: 25px;
    position: absolute;
    align-self: flex-end;
}

.detail__box .detail__description {
    grid-area: description;
    display: flex;
    flex-direction: column;
    gap: 25px;
    text-align: justify;
}

.detail__box .detail__description p {
    color: var(--color-1);
    font-size: 16px;
    line-height: 1.5;
}

@media (max-width: 991px) {
    .detail {
        margin-top: 100px;
    }
}

@media screen and (max-width:991px) and (min-width:769px) {
    .detail {
        margin-top: 100px;
    }
}

@media (max-width: 768px) {
    .detail {
        margin-top: 100px;
    }

    .detail__box {
        width: 600px;
        grid-template-columns: 1fr;
        grid-template-rows: repeat(3, auto);
        grid-template-areas:
            "img"
            "info"
            "description";
    }

    .detail__box .detail__info span {
        position: absolute;
        align-self: flex-end;
    }

    .detail__box .detail__img {
        grid-area: img;
        display: block;
    }

    .detail__box .detail__img .detail__img-holder img {
        border-radius: 5px;
    }
}

@media (max-width: 640px) {
    .detail__box {
        width: 100%;
        border-radius: 0;
        padding: 35px;
        margin: 0;
        grid-template-columns: 1fr;
        grid-template-rows: repeat(3, auto);
        grid-template-areas:
            "img"
            "info"
            "description";
    }
}